calendar {

    .cal-header {
        // background-color: #e8f5e9;
        // border: 1px dashed #999;

        background-image: url('../assets/images/leather_1.png');
        -webkit-background-image: url('../assets/images/leather_1.png');
        background-repeat: horizontal;
    }

    ion-card {
        height: 450px;
    }


    ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
    }

    ion-col {
        text-align: center;
        // border-left: 1px #ddd solid;
        // border-right: 1px #ddd solid;
    }

    .seperator-bottom {
        border-bottom: 1px #aaa solid;
    }
    .seperator-top {
        border-top: 1px #ddd solid;
    }
    .action {
        color: #ef6c00;
        font-weight: bold;
    }


}
